@import 'tailwindcss';

@theme {
  --color-text: var(--color-neutral-950);
  --color-background: var(--color-white);

  --color-blue: #00f;
  --color-red: #f00;
  --color-green: #0a0;
  --color-yellow: #fc0;
  --color-purple: #a0f;
  --color-orange: #f90;
  --color-pink: #f06;

  --text-base--line-height: 1.25;
  --text-lg--line-height: 1.25;
  --text-xl--line-height: 1.25;
  --text-2xl--line-height: 1.25;

  --animate-spin: spin 600ms linear infinite;
}

@utility p-border-* {
  padding: calc(var(--spacing) * --value(integer) - var(--border-width, 1px));
}

@utility px-border-* {
  padding-inline: calc(
    var(--spacing) * --value(integer) - var(--border-width, 1px)
  );
}

@utility py-border-* {
  padding-block: calc(
    var(--spacing) * --value(integer) - var(--border-width, 1px)
  );
}

@utility grid-cols-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );
}

@layer base {
  body {
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1;
    text-underline-offset: 2px;
    & * {
      text-decoration-thickness: 1px;
    }
  }
}

@utility -d {
  outline: 1px dashed orange;
  outline-offset: -1px;
  & .-d {
    outline-color: purple;
  }
}
