<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ page.title ?? 'Untitled' }}{% endblock %} &middot; {{ site.title }}</title>
</head>
<body>
    <main>
        {% block content %}{{ content.main|markdown }}{% endblock %}
    </main>
</body>
</html>
